@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-teddy-gray: #d9d9d9;
  --color-teddy-orange: #ec6724;
  --color-teddy-placeholder: #AAAAAA;
  --shadow-teddy: 0 2px 8px rgba(0, 0, 0, 0.75);
  --font-family-sans: Inter, sans-serif;
}

